//? EXPORTACION GLOBAL DE  COLORES(Accesibles en toda la aplicacion)
:root {
  --color-primary-a20: #94b5c9;
  --color-primary-a50: #286a93;
  --color-primary-a70: #1e5780;
  --color-accent-a20: #8babbe;
  --color-accent-a50: #17567d;
  --color-accent-a70: #11456a;
  --color-warn-a20: #ee9d8e;
  --color-warn-a50: #dc3a1d;
  --color-warn-a70: #d32c15;
  --color-white: #fff;
  --color-black: #000;
  --color-strong-focus-indicators:purple;
}

//? PALETA DE COLORES
$my-primary-color: (
  200: var(--color-primary-a20),
  500: var(--color-primary-a50),
  700: var(--color-primary-a70),
  contrast: (
    200: var(--color-black),
    500: var(--color-white),
    700: var(--color-white),
  ),
);
$my-accent-color: (
  200: var(--color-accent-a20),
  500: var(--color-accent-a50),
  700: var(--color-accent-a70),
  contrast: (
    200: var(--color-black),
    500: var(--color-white),
    700: var(--color-white),
  ),
);
$my-warn-color: (
  200: var(--color-warn-a20),
  500: var(--color-warn-a50),
  700: var(--color-warn-a70),
  contrast: (
    200: var(--color-black),
    500: var(--color-white),
    700: var(--color-white),
  ),
);

//? IMPORTACION DE COLORES PARA EL TEMA (Se inserta la paleta y los coloeres que quieres)
//* Light mode
$angular-material-test-primary: mat.define-palette(
  $my-primary-color,
  200,
  500,
  700
);
$angular-material-test-accent: mat.define-palette(
  $my-accent-color,
  200,
  500,
  700
);
$angular-material-test-warn: mat.define-palette($my-warn-color, 200, 500, 700);

//* Dark mode
$angular-material-test-dark-primary: mat.define-palette(mat.$blue-grey-palette);
$angular-material-test-dark-accent: mat.define-palette(
  mat.$amber-palette,
  A200,
  A100,
  A400
);
$angular-material-test-warn: mat.define-palette(mat.$red-palette);

//? EJEMPLOS OTRAS PALETAS
//! EJEMPLO 1 (Usando las paletas de angular material)
//* Paletas predefinidas angular material
//? Theme	                 Light or dark?	     Palettes (primary, accent, warn)
//?-----------------------------------------------------------------------------
// deeppurple-amber.css	   Light	             deep-purple, amber, red
// indigo-pink.css	       Light	             indigo, pink, red
// pink-bluegrey.css	     Dark	               pink, bluegrey, red
// purple-green.css	       Dark	               purple, green, red
//?-----------------------------------------------------------------------------

// //* Light mode
// $angular-material-test-primary: mat.define-palette(mat.$indigo-palette);
// $angular-material-test-accent: mat.define-palette(
//   mat.$pink-palette,
//   A200,
//   A100,
//   A400
// );
// $angular-material-test-warn: mat.define-palette(mat.$red-palette);
// //* Dark mode
// $angular-material-test-dark-primary: mat.define-palette(mat.$blue-grey-palette);
// $angular-material-test-dark-accent: mat.define-palette(
//   mat.$amber-palette,
//   A200,
//   A100,
//   A400
// );
// $angular-material-test-warn: mat.define-palette(mat.$red-palette);

//! EJEMPLO 2 (Usando una paleta personalizada )
// $bright-navy-blue-palette: (
//   50: #e3f2fd,
//   100: #badffb,
//   200: #8fcbfa,
//   300: #61b7f7,
//   400: #3ca7f6,
//   500: #0c98f5,
//   600: #078ae7,
//   700: #0078d4,
//   800: #0067c2,
//   900: #0049a3,
//   A100: #c2e4ff,
//   A200: #addcff,
//   A400: #1f9eff,
//   A700: #00518f,
//   contrast: (
//     50: rgba(black, 0.87),
//     100: rgba(black, 0.87),
//     200: rgba(black, 0.87),
//     300: rgba(black, 0.87),
//     400: rgba(black, 0.87),
//     500: white,
//     600: white,
//     700: white,
//     800: white,
//     900: white,
//     A100: rgba(black, 0.87),
//     A200: rgba(black, 0.87),
//     A400: white,
//     A700: white,
//   )
// );

// $gainsboro-palette: (
//   50: #f9f9fa,
//   100: #f3f3f4,
//   200: #ebebec,
//   300: #dcdcdd,
//   400: #b9b9ba,
//   500: #99999a,
//   600: #707071,
//   700: #5d5d5e,
//   800: #3e3e3f,
//   900: #1d1d1e,
//   A100: #f5f5f5,
//   A200: #eaeaeb,
//   A400: #d6d6d7,
//   A700: #838386,
//   contrast: (
//     50: rgba(black, 0.87),
//     100: rgba(black, 0.87),
//     200: rgba(black, 0.87),
//     300: rgba(black, 0.87),
//     400: rgba(black, 0.87),
//     500: white,
//     600: white,
//     700: white,
//     800: white,
//     900: white,
//     A100: rgba(black, 0.87),
//     A200: rgba(black, 0.87),
//     A400: rgba(black, 0.87),
//     A700: white,
//   )
// );
// $crimson-palette: (
//   50: #ffebef,
//   100: #ffcdc5,
//   200: #f0999f,
//   300: #e77179,
//   400: #f24e58,
//   500: #f83a40,
//   600: #e9313e,
//   700: #d72638,
//   800: #ca1e30,
//   900: #bb0d24,
//   contrast: (
//     50: rgba(black, 0.87),
//     100: rgba(black, 0.87),
//     200: rgba(black, 0.87),
//     300: rgba(black, 0.87),
//     400: white,
//     500: white,
//     600: white,
//     700: white,
//     800: white,
//     900: white,
//   )
// );

// //* Light mode
// $angular-material-test-primary: mat.define-palette($bright-navy-blue-palette, 700, 300, 900);
// $angular-material-test-accent: mat.define-palette($gainsboro-palette, 300, 100, 500);
// $angular-material-test-warn: mat.define-palette($crimson-palette, 700);

// //* Dark mode
// $angular-material-test-dark-primary: mat.define-palette(mat.$blue-grey-palette);
// $angular-material-test-dark-accent: mat.define-palette(
//   mat.$amber-palette,
//   A200,
//   A100,
//   A400
// );
// $angular-material-test-warn: mat.define-palette(mat.$red-palette);
