@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.cdnfonts.com/css/montserrat');



//? Name	                Description
//? __________________________________________________________________________________
// headline-1	            One-off header, usually at the top of the page (e.g. a hero header).
// headline-2	            One-off header, usually at the top of the page (e.g. a hero header).
// headline-3	            One-off header, usually at the top of the page (e.g. a hero header).
// headline-4	            One-off header, usually at the top of the page (e.g. a hero header).
// headline-5	            Section heading corresponding to the <h1> tag.
// headline-6	            Section heading corresponding to the <h2> tag.
// subtitle-1	            Section heading corresponding to the <h3> tag.
// subtitle-2	            Section heading corresponding to the <h4> tag.
// body-1	                Base body text.
// body-2	                Secondary body text.
// caption              	Smaller body and hint text.
// button	                Buttons and anchors.
//? __________________________________________________________________________________


// Configuración de tipografía
$angular-material-typography: mat.define-typography-config(
  $font-family: 'Roboto, sans-serif',
  $headline-1: mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2: mat.define-typography-level(56px, 56px, 400, $letter-spacing: -0.02em),
  $headline-3: mat.define-typography-level(45px, 48px, 400, $letter-spacing: -0.005em),
  $headline-4: mat.define-typography-level(34px, 40px, 400),
  $headline-5: mat.define-typography-level(24px, 32px, 400),
  $headline-6: mat.define-typography-level(20px, 32px, 400),
  $subtitle-1: mat.define-typography-level(16px, 28px, 400),
  $body-1: mat.define-typography-level(14px, 20px, 400),
  $body-2: mat.define-typography-level(14px, 20px, 400),
  $subtitle-2: mat.define-typography-level(16px, 28px, 400),
  $caption: mat.define-typography-level(12px, 20px, 400),
  $button: mat.define-typography-level(14px, 14px, 500),
);

$angular-material-typography-montserrat: mat.define-typography-config(
  $font-family: 'Montserrat, sans-serif',
);

@include mat.typography-hierarchy($angular-material-typography);



//TODO ENLACES
// https://material.angular.io/guide/typography
// https://stackoverflow.com/questions/43747518/angular-material-and-changing-fonts
// https://github.com/angular/components/blob/main/guides/typography.md
